<!DOCTYPE html>
<html lang="es"
      xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/login.css">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Asap+Condensed:ital@0;1&family=DM+Serif+Display&family=Nabla&display=swap" rel="stylesheet">


    <title>Login</title>
</head>
<body>
<header>
    <h1>JACADULS SOFT</h1>
</header>
<main>
    <div class="main-form--box">
        <form method="post" th:object="${user}" th:action="@{/login}">
            <h2>Login</h2>
            <label>
                Email
                <input type="email" th:field="*{correo}" id="email" aria-describedby="emailHelp" placeholder="Enter an email" >
            </label>
            <label>
                Password
                <input type="password" th:field="*{password}" id="password" placeholder="Password">
            </label>
            <button>Enviar</button>
        </form>
    </div>
</main>
</body>
</html>