main {
    display: flex !important;
    background-color: var(--dark);
}

.main{
    width: 80%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}


.header {
    width: 90%;
    padding-top: 24px;
}
.header h2 {
    text-align: center;
    font-size: 4rem;
    margin-bottom: 24px;
    color: white;
}
.header span{
    font-size: 2.8rem;
    border-bottom: solid var(--orange) 2px;
    color: white;
}
.header .boton-box {
    display: flex;
    justify-content: flex-end;
    margin: 12px 0;
}

.header .boton-box button {
    padding: 8px 12px;
    border-radius: 4px;
    background-color: var(--orange);
    border: none;
    outline: none;
    color: white;
    font-size: 2rem;

}

button {
    cursor: pointer;
}